<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
                   
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a [routerLink]="['../form-inicio']" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../form-usuarios']" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-fill"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span> </a>
                    </li>
                    <li>
                        <a [routerLink]="['../form-marca']" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Marcas</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../form-categoria']" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-badge-cc"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['../form-productos']" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-bag-dash-fill"></i> <span class="ms-1 d-none d-sm-inline">Productos</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fusuario_logo.png?alt=media&token=9abd87d6-bd6e-4c11-9c19-cd5cbd603a38" 
                        alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ nombreUsuario }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><button type="button" class="btn btn-primary btn-block" [routerLink]="['../home']">Ir a sitio web</button></li>           
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button type="button" class="btn btn-danger btn-block" (click)="logout()">Cerrar Sesión</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col py-3">
            <nav class="navbar navbar-expand-lg bg-white navbar-light">
                <div class="container">
                    <h2 class="">Administración</h2>
                    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['../form-inicio']">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['../form-usuarios']">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['../form-marca']">Marcas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['../form-categoria']">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['../form-productos']">Productos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="padding-top: 40px;">
                <ng-content></ng-content>
            </div>         
        </div>
    </div>
</div>