/****Estilo de cartas*****/

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.02);
}


/****Estilo de botones*****/

.btn {
    background-color: black;
}

.btn:hover {
    background-color: rgb(32, 107, 126);
    color: rgb(255, 253, 253);
}

select[name="brand"] {
    min-width: 10em;
}

select[name="brand"] option {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fff;
}

p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #555;
}

.select-container {
    display: flex;
    align-items: center;
}

.select-container select {
    margin-right: 10px;
}

.select-container button {
    height: 40px;
    padding: 10px 20px;
}